* {
  margin: 0;
  padding: 0;
}
.landing {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/stars.png");
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 216px;
  align-items: center;
}
.logo {
  width: 164px;
}
.contentTitle {
  padding-top: 99px;
  color: #4980c0;
  font-size: 96px;
}
.contentButton {
  margin-top: 99px;
  width: 395px;
  height: 79px;
  background-color: #4980c0;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 7px;
}
.contentButton:hover {
  background-color: #7da0c7;
}
