body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.register {
  width: 700px;
  height: 720px;
  background-color: white;
  border-radius: 25px;
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
  font-size: 24px;
  color: black;
}
.registerAddPhoto {
  padding-top: 41px;
}

.nameInput {
  width: 400px;
  height: 100px;
  background-color: #e6ebff;
  border: none;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 43px;
  color: gray;
}
.signIn {
  width: 300px;
  height: 75px;
  background-color: #4980c0;
  color: white;
  border-radius: 50px;
  border: none;
  margin-bottom: 15px;
  transition: 0.1s;
}

.signIn.disabled {
  cursor: default;
  background-color: #7da0c7;
}
