.navbar {
  height: 110px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 65px;
  padding-left: 65px;
  font-size: 36px;
  color: white;
  max-width: 100%;
}
.navbar a {
  color: white;
}
.navbar ul {
  display: flex;
  gap: 65px;
}
.navbar ul li {
  list-style: none;
  text-decoration: none;
}
.userPicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.navLinks {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-right: 1px solid white;
  padding-right: 50px;
}
.navProfile {
  height: 100%;
  display: flex;
  align-items: center;
}
.modalButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 36px;
}
