.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationContainerButton {
  width: 30px;
  height: 30px;
  font-size: 22px;
  background: none;
  color: white;
  border-bottom: 1px solid white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.paginationContainerButton:hover {
  font-size: 27px;
}

.paginationContainerButton.active {
  font-size: 27px;
  text-decoration: underline;
}
.arrowContainer {
  display: flex;
  padding-top: 7px;
}
.arrowContainer img {
  width: 22px;
}
