.formSideMenu {
  position: absolute;
  left: 3%;
  top: 25.7%;
}

.tableConfigurator {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 2rem;
  align-items: center;
}
.filterButton {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
}
.filterButton p {
  margin-right: 37px;
}
.tableConfigurator input {
  width: 240px;
  height: 36px;
  border-radius: 8px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 16px;
}
.filter {
  width: 230px;
  height: 220px;
  background-color: white;
  border-radius: 6px;
}
.filterDisabled {
  display: none;
}
.table {
  font-size: 22px;
  border-radius: 5%;
  padding-bottom: 1ch;
}

.filterContainer {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  gap: 1rem;
}
.filterContainer a {
  cursor: pointer;
}
.statusFilter {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.statusFilter label {
  padding-top: 5px;
}
.statusFilterDis {
  display: none;
}
.clickGender {
  font-size: 16px;
}
.clickStatus {
  font-size: 16px;
}

.genderFilter {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 10px;
}
.genderFilter label {
  padding-top: 3px;
}
.genderFilter input {
  padding-top: 25px;
}
.genderFilterDis {
  display: none;
}
.filterOptions {
  align-items: center;
  display: flex;
}
.filterOptions a {
  padding-top: px;
}
.searchLogo {
  position: absolute;
  right: 27.4%;
  top: 17.8%;
}
.tablePagination {
  padding-top: 60px;
}
