* {
  margin: 0;
  padding: 0;
}
/* fonts.module.css */
@font-face {
  font-family: "Rowdies";
  src: url("../fonts/Rowdies-Bold.ttf") format("truetype"); /* Adjust the path and file name */
  font-weight: 700;
  font-style: normal;
}
